.author {
    margin: 0 auto;
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details {
    font-weight: bold;
}
.btn {
    margin: 5px;
    display: inline-block;
}

